
        <div class="menu-items">
            <h2>MENU</h2>
            <ul class="items">
                <li><a href="/" style="color: rgb(62, 59, 59);">Home</a></li>
                <li><a href="/rentals" style="color: rgb(62, 59, 59);">Rentals</a></li>
                <li><a href="/sign-up" style="color: rgb(62, 59, 59);">Sign-up</a></li>
                <li><a href="/log-in" style="color: rgb(62, 59, 59);">Login</a></li>
            </ul>
        </div>

        <div class="copyright-statement">
            By submitting this assignment I declare that this assignment is my own work in accordance with the Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.
            <br>
            <br>
            <br>
            © Swati Kumari, skumari15@myseneca.ca, WEB322 Winter 2023 
        </div>

        <div class="social-media">
            <ul>
                <li>
                    <a href="">
                        <img src="\images\insta.png" alt="instagram logo">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="\images\fb.png" alt="instagram logo">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="\images\twitter.png" alt="instagram logo">
                    </a>
                </li>
            </ul>

        </div>
