
<section class="header">

    <a href="/" class="logo">
        <img src="\images\room-e-yo-logo.jpg" alt="website logo">
    </a>
    
    <nav>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/rentals">RENTALS</a></li>
            <li><a href="/sign-up">SIGN-UP</a></li>
            <li><a href="/log-in">LOGIN</a></li>
        </ul>
    </nav>

</section>