<!DOCTYPE html>
<html>
    <head>
        <title>Room-e-Yo : The Comfort of Your Room</title>
        <link rel="stylesheet" href="/css/index.css"/>
    </head>
    <body>

        <header>{{>navbar}}</header>

        {{{body}}}

    {{!-- </body> --}}

    <footer>{{>footer}}</footer>
    </body>
       

</html>