<form id="log-in">

    <h1>Welcome back</h1>

    <input type="text" id="email" placeholder="Email Address">
    <input type="text" id="pswd" placeholder="Password">

    <button>Login</button>

</form>