<form id="log-in" method="POST" action="/log-in">

    <h1>Welcome back</h1>

    {{!-- <lable for="email"></lable> --}}
    <input type="text" id="email" placeholder="Email Address" name="email" value="{{data.email}}" />
    {{#if msg.email}}
        <span style="color: red">{{msg.email}}</span>
    {{/if}}

     
    {{!-- <lable for="pswd"></lable> --}}
    <input type="text" id="pswd" placeholder="Password" name="pswd" value="{{data.pswd}}"/>
    {{#if msg.pswd}}
        <span style="color: red">{{msg.pswd}}</span>
    {{/if}}

    <button>Login</button>

</form>