<form id="log-in" method="POST" action="/log-in">

    <h1>Welcome back</h1>

    <input type="text" id="email" placeholder="Email Address" name="email" />
     
    <input type="text" id="pswd" placeholder="Password" name="pswd" />

    <button>Login</button>

</form>