<form id="sign-up">
    <h1>Sign Up</h1>

    <p>Create your account by entering your email address and choosing a password</p>

    <input type="text" id="fname" placeholder="First Name">
    <input type="text" id="lname" placeholder="Last Name">
    <input type="text" id="email" placeholder="Email Address">
    <input type="text" id="pswd" placeholder="Password">

    <button>Sign up Today</button>
</form>