<section id="rentals">

    {{#each allRentals}}

        <h1>{{cityProvince}}</h1>

        <div id="eachRentals">
            {{#each rentals}}
                {{!-- {{>rental this}} --}}
                {{>rental isCustomer=../isCustomer}}
            {{/each}}
        </div>
        
    {{/each}}

</section>